body {
    background-color: #F5D6B4;
    margin-top: 60px;
}

h1, p {
    text-align: center;
    
}
footer {
    text-align: center;
    margin-top: 30px;
}

footer a {
    margin: 0 10px;
    
}
img {
    width: 600px;
    display: block;
    margin: 30px auto;
    border-radius: 8px;
}